<main>
  <!-- This is the main container-->
  <div>
    <div>
    <!-- Recovered from "https://codepen.io/Ladd_W/pen/JjPNBQm" -->
      <div id='digital-clock'>
        <span id='hour'></span>
        <span class='red-dot'>:</span>
        <span id='min'></span><span class='red-dot'>:</span>
        <span id='second'></span>
      </div>
      <span id='titulo'></span>
    </div>
    <div>
      <h1>Clock Checker</h1>
      <div>
        <%= render "form", check: @check %>
      </div>
    </div>
  </div>
</main>