<main class="container-xl">
  <div class="row min-height-main align-items-center">
    <div class="col-md-6">
      <!-- Recovered from "https://codepen.io/Ladd_W/pen/JjPNBQm" -->
      <div class="bg-secondary text-white display-1 p-3 rounded text-center">
        <span class="" id='hour'></span>
        <span class='red-dot'>:</span>
        <span id='min'></span><span class='red-dot'>:</span>
        <span id='second'></span>
      </div>
      <span id='titulo'></span>
    </div>
    <div class="col-md-6 h-100">
      <h1 class="display-3 text-center fw-bold">Clock Checker</h1>
      <div class="bg-primary p-4 rounded">
        <%= render "form", check: @check %>
      </div>
    </div>
  </div>
</main>