<main>
  <!-- This is the main container-->
  <div>
    <div>
    <!-- Recovered from "https://codepen.io/Ladd_W/pen/JjPNBQm" -->
      <div id='digital-clock'>
        <span id='hour'></span>
        <span class='red-dot'>:</span>
        <span id='min'></span><span class='red-dot'>:</span>
        <span id='second'></span>
      </div>
    </div>
    <div>
      <h1>Clock Checker</h1>
      <form action="">
        <div>
          <label for="">Employee ID</label>
          <input type="number">
        </div>
        <div>
          <label for="">Password</label>
          <input type="password">
        </div>
        <button type="submit">Check In</button>
        <button type="submit">Check Out</button>
      </form>
    </div>
  </div>
</main>