<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Index</title>
  </head>
  <body>
    <header>
      <!-- This is the header container-->
      <div>
        <img src="#" alt="logotipo">
        <button>Login</button>
      </div>
    </header>
    <main>
        <!-- This is the main container-->
        <div>
          <div>
          <!-- IMG recovered from "https://cdn-icons-png.flaticon.com/512/2206/2206368.png" -->
            <div id='img-admin'>
              <img src="#" alt="admin">
            </div>
          </div>
          <div>
            <h1>Login admin</h1>
            <form action="">
              <div> 
                <label for="">User</label>
                <input type="text">
              </div>
              <div>
                <label for="">Password</label>
                <input type="password">
              </div>
              <button type="submit">Login</button>
            </form>
          </div>
        </div>
      </main>
    <footer>
      <!-- This is the footer container-->
      <div>
        <p>Equipo 4RoR</p>
        <p>Copyrigth 2023</p>
      </div>
    </footer>
  </body>
</html>

