<header>
    <!-- This is the header container-->
    <div>
        <img src="#" alt="logotipo">
        <button>Logout</button>
    </div>
    <br>
</header>
<main>
    <!-- This is the main container-->
    <div>
      <div>
        <span>Employee</span>
        <span>Company</span>
      </div>
      <br>
      <div>
        <div>
          <a href="">
            <img src="#" alt="boton-manage-employee">
            <p>Manage Employees</p>
            <p>Create, read, update user and desactive the employee if he is not working</p>
          </a>
        </div>
        <div>
          <span>Register</span>
          <span>Manage</span>
          <span>Vacation</span>
          <span>Employees</span>
        </div>
      </div>
      <br>
      <div>
        <div>
          <a href="">
            <img src="#" alt="boton-reports">
            <p>Reports</p>
            <p>The attendance per day, average time employees checked in/out by month.</p>
          </a>
        </div>
        <div>
          <span>Register</span>
          <span>Manage</span>
          <span>Vacation</span>
          <span>Employees</span>
        </div>
      </div>
    </div>
</main>
<footer>
    <!-- This is the footer container-->
    <div>
        <p>Equipo 4RoR</p>
        <p>Copyrigth 2023</p>
    </div>
</footer>