<main>
  <!-- This is the main container-->
  <div>
    <h1>
      Admin Portal
    </h1>
      <img src="#" alt="btn-manage-employee">
      <p><%= link_to "Manage Employees", "/user" %></p>
      <p>Create, read, update user and desactive the employee if he is not working</p>

      <img src="#" alt="btn-reports">
      <p>Reports</p>
      <p>The attendance per day, average time employees checked in/out by month.</p>

      <img src="#" alt="btn-manage-company">
      <p><%= link_to "Manage Company Branches", "/company" %></p>
      <p>Create, read, update store and delete the stores of the company.</p>
  </div>
</main>
