<h1>Edit Employee</h1>
<div>
  <div>
    <nav>
      <a href="/user">Index Employess</a>
      <a href="/user/new">Create Employess</a>
    </nav>
  </div>
  
  <div>
    <%= render "form", user: @user %>
  </div>
</div>
