<main class="bg-first">
  <div class="main-container container-xl h-100">
    <div class="d-flex flex-column justify-content-center align-items-center m-auto">
      <h1 class="text-center my-3">Edit Employee</h1>
      <p class="text-center">Edit a employee typing in the input's form.</p>
      <%= link_to "Return", "/user/", class: "btn btn-primary p-2 roundend" %>
    </div>
    <div class="m-auto">
      <%= render 'form', user: @user %>
    </div>
  </div>
</main>
