<h1>Employees</h1>
<div>
  <div>
    <%= render "nav"%>
  </div>
  
  <div>
    <div>
      <p>id</p>
      <p>name</p>
      <p>number employee</p>
      <p>company</p>
      <%= link_to "Edit Employee", "/user/update" %>
      <p>sleep</p>
    </div>
  </div>
</div>
