<main class="bg-first">
  <div class="container-xl">
    <div class="text-center pt-4">
      <h1>Manage Employees</h1>
      <p>Create, read, update user and sleep employee</p>
    </div>

    <div>
      <%= link_to "Create user", "/user/new", class: 'bg-secondary text-white text-decoration-none p-2 my-4 mx-auto rounded' %>
      <table class="w-100 text-center mt-4 border">
        <tr class="border">
          <th>ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>POSITION</th>
          <th>EMPLOYEE NUMBER</th>
          <th>PRIVATE NUMBER</th>
          <th>COMPANY</th>
          <th>EDIT</th>
          <th>SLEEP</th>
        </tr>
        
        <tr>
          <td>id</td>
          <td>name</td>
          <td>email</td>
          <td>position</td>
          <td>emp_num</td>
          <td>private_num</td>
          <td>company.name</td>
          <td><%= link_to "Edit", "/user/1/edit", class: 'text-decoration-none' %></td>
          <td><%= link_to "Delete", "/user/1", class: 'text-decoration-none' %></td>
        </tr>

      </table>
    </div>
  </div>
</main>