<h1>Employees</h1>
<div>
  <div>
  <nav>
    <a href="/user">Index Employess</a>
    <a href="/user/new">Create Employess</a>
  </nav>
  </div>
  
  <div>
    <div>
      <p>id</p>
      <p>name</p>
      <p>number employee</p>
      <p>company</p>
      <p>edit</p>
      <p>sleep</p>
    </div>
  </div>
</div>
