<main class="bg-first">
  <div class="container-xl">
    <div class="text-center pt-4">
      <h1>Manage Employees</h1>
      <p>Create, read, update user and sleep employee</p>
    </div>

    <div class = "">
      <%= link_to "Create user", "/user/new", class: 'btn btn-outline-dark shadow my-3' %>
      <div class = "table-responsive shadow" >
        <table class="table border-bottom border-dark w-100 text-center mt-4 table-hover">
          <tr class="">
            <th class = "">ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>POSITION</th>
            <th>EMPLOYEE NUMBER</th>
            <th>PRIVATE NUMBER</th>
            <th>COMPANY</th>
            <th>EDIT</th>
            <th>SLEEP</th>
          </tr>
          
          <tr>
            <td>id</td>
            <td>name</td>
            <td>email</td>
            <td>position</td>
            <td>emp_num</td>
            <td>private_num</td>
            <td>company.name</td>
            <td><%= link_to "Edit", "/user/1/edit", class: 'btn btn-outline-dark' %></td>
            <td><%= link_to "Delete", "/user/1", class: 'btn btn-outline-dark' %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>