<main>
  <!-- This is the main container-->
  <div>
    <div>
      <span>Employee</span>
    </div>
    <br>
    <div>
      <div>
        <a href="">
          <img src="#" alt="boton-manage-employee">
          <p>Manage Employees</p>
          <p>Create, read, update user and desactive the employee if he is not working</p>
        </a>
      </div>
      <div>
        <span>Register</span>
        <span>Manage</span>
        <span>Vacation</span>
        <span>Employees</span>
      </div>
    </div>
    <br>
  </div>
</main>
