<main class="container-xl">
  <h1 class="text-center my-3">Create Employee</h1>
  <p class="text-center">Create a new employee typing in the input's form.</p>
  <%= link_to "Return", "/user/", class: "btn btn-primary p-2 roundend" %>
  <div class="row min-height-main align-items-center">
    <div class="col-md-4 offset-4 border bg-primary">
      <%= render 'form', user: @user %>
    </div>
  </div>
</main>
