<div class="row"> <%# content L - R1%>
  <h1>Manage Company Branches</h1>
  <p>Create, read, update user and delete the stores of the company</p>
</div>
<div class="row"> <%# content L - R2%>
  <div class="clock">
    <%# Perfil / Reloj %>
  </div>
</div> <%# /content L%>
