<main class="bg-first">
  <div class="container-xl">
    <div class="text-center pt-4">
      <h1>Manage Companies</h1>
      <p>Create, read, update and delete companies.</p>
    </div>

    <div>
      <%= link_to "Create company", "/company/new", class: 'btn btn-outline-dark  my-3' %>
      <div class = "table-responsive shadow">
        <table class="table border-bottom border-dark w-100 text-center mt-4 table-hover">
          <tr class="">
            <th>ID</th>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
          
          <tr>
            <td>1</td>
            <td>nombre</td>
            <td>direccion</td>
            <td><%= link_to "Edit", "/company/1/edit", class: 'btn btn-outline-dark' %></td>
            <td><%= link_to "Delete", "/company/1", class: 'btn btn-outline-dark' %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>
