<main class="container-xl min-height-main">
  <div>
    <%= render 'nav' %>
  </div>
  <div>
    <%= link_to "Create Company", "/company/new", class: 'bg-primary text-white text-decoration-none p-2 my-4 mx-auto' %>
    <table class="w-100 text-center mt-4 border">
      <tr class="border">
        <th>ID</th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      
      <tr>
        <td>1</td>
        <td>nombre</td>
        <td>direccion</td>
        <td><%= link_to "Edit", "/company/1/edit", class: 'text-decoration-none' %></td>
        <td><%= link_to "Delete", "/company/1", class: 'text-decoration-none' %></td>
      </tr>
    </table>
  </div>
</main>
