<main class="bg-first">
  <div class="main-container container-xl h-100">
    <div class="d-flex flex-column justify-content-center align-items-center m-auto">
      <h1 class="text-center my-3">Create Company</h1>
      <p class="text-center">Create a new company typing in the input's form.</p>
      <%= link_to "Return", "/company/", class: "btn btn-outline-dark shadow" %>
    </div>
    <div class="m-md-auto mb-3 p-4 rounded shadow bg-light align-items-center">
      <%= render 'form', company: @company %>
    </div>
  </div>
</main>
