<main class="main-container bg-first">
  <div class="login-img"></div>
  <div class="mx-5 m-md-auto py-5 py-md-0">
    <div class="bg-light align-items-center shadow p-4 mb-4 mb-md-0">
      <h1 class="text-center text-dark">Login Admin</h1>
      <%= render "form", user: @user %>
    </div>
  </div>
</main>
