<main class="main-container bg-first">
  <div class="login-img"></div>
  <div class="mx-5 m-md-auto py-5 py-md-0">
    <h1 class="display-3 text-center fw-bold">Login Admin</h1>
    <div class="bg-primary p-4 rounded">
      <%= render "form", user: @user %>
    </div>
  </div>
</main>
