
<main class="bg-secondary">
  <!-- This is the main container-->
  <div>
    <div>
    <!-- IMG recovered from "https://cdn-icons-png.flaticon.com/512/2206/2206368.png" -->
      <div id='img-admin'>
        <img src="#" alt="admin">
      </div>
    </div>
    <div>
      <h1>Login admin</h1>
      <form action="">
        <div> 
          <label for="">User</label>
          <input type="text">
        </div>
        <div>
          <label for="">Password</label>
          <input type="password">
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</main>
