<main>
  <!-- This is the main container-->
    <h1>Reports</h1>
    <button>Daily Report</button>
    <button>Monthly Report</button>
    <button>Absences Report</button>
    <div> <!-- Data about the reports --> </div>
  </main>
