<header>
  <!-- This is the header container-->
  <div>
    <img src="#" alt="logotipo">
    <button>Logout</button>
  </div>
</header>
<main>
  <!-- This is the main container-->
    <h1>Reports</h1>
    <button>Daily Report</button>
    <button>Monthly Report</button>
    <button>Absences Report</button>
    <div> <!-- Data about the reports --> </div>
  </main>
<footer>
  <!-- This is the footer container-->
  <div>
    <p>Equipo 4RoR</p>
    <p>Copyrigth 2023</p>
  </div>
</footer>
