<header class="bg-dark p-3 d-flex text-light header-container">
      <div class="d-flex justify-content-between align-items-center container-xl">
        <a class="text-dark" href="">
          <%= image_tag("", alt: "admin image", class: 'rounded') %>
        </a>
      <div>
        <a class="bg-danger text-white text-decoration-none p-2 rounded" href="/home">Home Page</a>
        <a class="bg-danger text-white text-decoration-none p-2 rounded" href="/">Log Out</a>
      </div>
      </div>
      <br>
    </header>
